<h1 class='logo' id='home-logo'>Book Trade</h1>
</div>
<hr>
<i>Trade your books with others!<i>
<hr>
<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Register', new_user_registration_path %>
