<div class="column-container">
  <h1 class='logo' id='home-logo'>Book Trade</h1>
</div>
  <hr>
<div class="column-container">
  <i>Trade your books with others!</i>
</div>
  <hr>
<div class="column-container">
  <%= link_to 'Sign In', new_user_session_path %>
  <br>
  <%= link_to 'Register', new_user_registration_path %>
</div>
