h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
}

.contact_entry {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 210, 174);
  border-radius: 10px;
  border-color: rgb(83, 83, 83);
  border-width: 3px;
  border-style: solid;
  padding: 1vw;
  margin: auto;
}

