@mixin special-link {
  text-decoration: none;
  margin: 1vw;
  background-color: black;
  color: white;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(90, 62, 25);
  padding: 2px;
}

.alt_link > a {
  @include special-link;
}

.alt_link > a:visited {
  @include special-link;
}

.alt_link > a:hover {
  background-color: white;
  color: black;
}