body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

a, a:visited {
  text-decoration: none;
  
  background-color: rgb(90, 62, 25);
  color: white;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(90, 62, 25);
  padding: 2px;
 }

a:hover {
  color: rgb(97, 0, 16);
  background-color: white;
}

.center-container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 92vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));

  column-gap: 3vh;
  row-gap: 3vh;  
}

.entry {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 210, 174);
  border-radius: 10px;
  border-color: rgb(83, 83, 83);
  border-width: 3px;
  border-style: solid;
  padding: 1vw;
}
.entry:hover {
  border-color: black;
}
.contact {
  text-decoration: none;
  font-style: normal;
  
  margin-top: auto;
}

.nav {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  color: lightgray;
}

.new_book {
  margin-left: auto;
  margin-right: 6vw;
}

.link {
  margin: 1vw;
}

#logo {
  padding-top: 30px;
}
